<p>Button is ...</p>
<input type="button" value="button">

<div class="tab-body">

<div class="tab-menu">
  <ul>
    <li id="left" class="selected">左タブ</li>
    <li id="right">右タブ</li>
  </ul>
</div>
  <div class="contents">
    <div class="left">
      <p>お花コンテンツ</p>
      <ol>
          <li>華</li>
          <li>flower</li>
          <li>睡蓮花</li>
      </ol>
    </div>
    <div class="right">
      <p>お魚コンテンツ</p>
      <ol>
          <li>さっま</li>
          <li>まっぐろ</li>
          <li>Fish</li>
      </ol>
    </div>
  </div>
  
  </div>